body {
  display: grid;
  grid-template: 15vh  1fr  15vh / 1fr 20vw 20vw ;
  grid-template-areas: 
    "header header ads"
    "nav article article"
    "nav footer footer ";
  gap: 1vw;
  height: 100vh;
}

header {
  grid-area: header;
}

footer {
  grid-area: footer;
}

nav {
  grid-area: nav;
}

article {
  grid-area: article;
}

.ads {
  grid-area: ads;
}

header,
nav,
article,
.ads,
footer {
  background-color: lightcoral;
  font-size: 2vw;
  padding: 0.5em;
}