.container {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(150px, 1fr));
  /* grid-template-rows: 150px 150px; */
  grid-gap: 2vw;
}

.container > div {
  background-color: lightcoral;
  padding: 0.5em;
  text-align: center;
  font-size: 5vw;
}