.grid {
  display: grid;
  border: 1px solid gray;
  margin-bottom: 2px;
  gap: 0.5vw;
}

.auto-fill {
  grid-template-columns: repeat(auto-fill, minmax(150px, 1fr));
  color:brown;
}

.auto-fit {
  grid-template-columns: repeat(auto-fit, minmax(150px, 1fr));;
  color: green;
}

.grid > div {
  background-color: lightskyblue;
  text-align: center;
  font-size: 5vw;
  padding: 0.5em;
}