.grid {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 2px;
  grid-auto-flow: dense;
}

.grid > div {
  background-color: rgb(25, 32, 32);
  font-size: 2vw;
  color: tomato;
  padding: 0.5em;
}

.wide {
  width: 40vw;
  grid-column-end: span 2;
}